.u-block-1ef3-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-1ef3-3 {
  background-image: linear-gradient(#404040, #999999);
  width: 65px;
  height: 65px;
  left: calc(((100% - 1140px) / 2)  + 14px);
  top: 11px;
  position: absolute;
  right: auto;
  padding: 14px;
}

.u-block-1ef3-4 {
  background-image: linear-gradient(#404040, #999999);
  width: 65px;
  height: 65px;
  left: auto;
  top: 14px;
  position: absolute;
  right: calc(((100% - 1140px) / 2)  + 7px);
  padding: 14px;
}

@media (max-width: 1199px) {
  .u-block-1ef3-3 {
    left: calc(((100% - 940px) / 2)  + 12px);
  }

  .u-block-1ef3-4 {
    right: calc(((100% - 940px) / 2)  + 6px);
  }
}

@media (max-width: 991px) {
  .u-block-1ef3-3 {
    left: calc(((100% - 720px) / 2)  + 9px);
  }

  .u-block-1ef3-4 {
    right: calc(((100% - 720px) / 2)  + 5px);
  }
}

@media (max-width: 767px) {
  .u-block-1ef3-3 {
    left: calc(((100% - 540px) / 2)  + 7px);
  }

  .u-block-1ef3-4 {
    right: calc(((100% - 540px) / 2)  + 4px);
  }
}

@media (max-width: 575px) {
  .u-block-1ef3-3 {
    left: calc(((100% - 340px) / 2)  + 4px);
    padding: 11px;
  }

  .u-block-1ef3-4 {
    right: calc(((100% - 340px) / 2)  + 3px);
  }
}

 .u-section-1-1 {
  background-image: linear-gradient(54deg, #2cccc4, #f1c50e);
}

.u-section-1-1 .u-sheet-1 {
  min-height: 506px;
}

.u-section-1-1 .u-text-1 {
  margin: 145px auto 0;
}

.u-section-1-1 .u-text-2 {
  margin: 59px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(71deg, #ff4242, white);
}

.u-section-1-2 .u-sheet-1 {
  min-height: 506px;
}

.u-section-1-2 .u-icon-1 {
  width: 288px;
  height: 288px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 60px auto;
  padding: 29px;
}

 .u-section-1-3 {
  background-image: linear-gradient(54deg, #06e52a, black);
}

.u-section-1-3 .u-sheet-1 {
  min-height: 506px;
}

.u-section-1-3 .u-icon-1 {
  width: 288px;
  height: 288px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 60px auto;
  padding: 29px;
}

 .u-section-1-4 {
  background-image: linear-gradient(#f1c50e, white);
}

.u-section-1-4 .u-sheet-1 {
  min-height: 506px;
}

.u-section-1-4 .u-icon-1 {
  width: 288px;
  height: 288px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 60px auto;
  padding: 29px;
}